.categories-wrapper {
  overflow: hidden;
  border-radius: 4px;
  width: calc(100% - 95px);
}

.categories-list {
  display: flex;
  list-style: none;
  gap: 1px;
  overflow-x: scroll;
}

.categories-list::-webkit-scrollbar {
  display: none;
}

.categories-list__link {
  display: block;
  padding: 5px 8px;
  text-decoration: none;
  background-color: var(--white);
  color: var(--gray-main);
  font: var(--m-font);
  letter-spacing: var(--letter-spacing-value);
  white-space: nowrap;
  text-align: center;
  cursor: hand;
}

.categories-list__link.select {
  background-color: var(--blue-light);
  color: var(--white);
}

.select.categories-list__link::before {
  content: '';
  display: inline-block;
  background-image: url(../../img/icons/link-point.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 6px;
  height: 10px;
  margin-right: 4px;
}